.slider-btn {
  outline: none;
  border-radius: 100%;
  width: rem(50);
  height: rem(50);
  background-color: var(--color-gothic);
  transition: background var(--transition-duration);

  &::after {
    font-weight: 700;
    font-size: rem(22);
    color: var(--color-white);
  }

  @include mouse-device {
    &:hover,
    &:focus {
      background-color: var(--color-black);
    }
  }

  @include touch-device {
    &:active {
      background-color: var(--color-black);
    }
  }
}