@mixin button-styles {
  display: inline-block;
  padding: rem(22) rem(50);
  font-size: rem(17);
  line-height: lh(24, 17);
  letter-spacing: 0.02em;
  text-align: center;

  &_hollow {
    outline: none;
    border: rem(1) solid var(--color-gothic);
    background-color: transparent;
  }

  &_filled {
    outline: none;
    color: var(--color-white);
    background-color: var(--color-gothic);
    transition: background var(--transition-duration);

    @include mouse-device {
      &:hover,
      &:focus {
        background-color: var(--color-black);
      }
    }
  }

  @include x-small {
    padding: rem(18) rem(42);
    font-size: rem(14);
  }
}